body {
  background-color: #f9f9f9;
}

.table thead th {
  background-color: #e9e9e9;
  vertical-align: middle;
}

.product-img {
  width: 70px;
  height: auto;
}

.btn-select {
  background-color: #8dd84d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
}

.btn-select:hover {
  background-color: #78c239;
}

.delete-icon {
  font-size: 20px;
  cursor: pointer;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}
